@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root{
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Outfit', sans-serif;
    
    --cor1:#0c070e;
    --cor2:#db5b60;
    --cor3:#23d9f8;
    --cor4:#2f2d78;
    --cor5:#2e43c5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: var(--fonte2);
    background-color: var(--cor1);
    max-height: 100vh;
    max-width: 92vw;
}

header{
    font-family: var(--fonte2);
    text-align: center;
}

header nav#menu{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor1);
    z-index: 9999;
}

header nav a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.ul-header{
    display: flex;
    list-style: none;
    width: 100vw;
    height: 7vh;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1vw;
}

.ul-header li.selected {
    background-color: rgba(255, 255, 255, 0.025);
    border: 2px solid var(--cor5);
    border-radius: 10px;
  }

.ul-header li:hover{
    cursor: pointer;
    transform: scale(115%);
}

@media only screen and (max-width: 768px) {
    .ul-header {
        flex-direction: column;
        height: auto;
        font-size: 2vw;
    }
    
    .ul-header li {
        margin-bottom: 10px;
    }
}

main{
    position: relative;
    top: 10vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imagem-fixada{
    max-width: 100%;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

section#topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin-top: 90px;
    scroll-margin-top: 200px;
}

section#topo figure{
    max-width: 50%;
    height: auto;
    margin-top: 20px;
}

section#topo img{
    max-width: 100%;
    height: auto;
    border-radius: 20%;
    text-align: center;
    
}

main section#topo h1{
    font-size: 5vw;
    font-weight: bold;
}

main section#topo h2.desenvolvedor{
    font-size: 3.5vw;
}

main section#topo h2.front-end{
    font-size: 3.5vw;
    color: var(--cor4);
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2.desenvolvedor,
    h2.front-end {
        font-size: 18px;
    }

    section#topo figure {
        max-width: 80%;
    }
    section#topo {
        flex-direction: column;
        align-items: center;
    }

    section#topo figure {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .imagem-fixada{
        max-width: 100%;
        height: auto;
        position: fixed;
        bottom: 20px;
        right: 0;
    }
}

main section#sobre-mim {
    position: relative;
    top: 25px;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin-top: 220px;
    scroll-margin-top: 170px;
}
  
main section#sobre-mim figure img {
    max-width: 100%;
    height: auto;
    border-radius: 30%;
    text-align: center;
}
  
main section#sobre-mim h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cor4);
}
  
main section#sobre-mim p {
    font-size: 1rem;
}

main section#formacao {
    height: 20vh;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 320px;
    scroll-margin-top: 300px;
}

main section#formacao h1{
    width: 80vw;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid var(--cor5);
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    main section#formacao {
        padding: 20px;
    }

    main section#formacao h1 {
        font-size: 2rem;
    }
}

main section#atuacao {
    height: 32vh;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 490px;
    scroll-margin-top: 300px;
}

main section#atuacao h1{
    width: 80vw;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid var(--cor5);
    border-radius: 10px;
}

main section#atuacao h2{
    width: 100%;
    max-width: 600px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

main section#atuacao p{
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    main section#atuacao {
        padding: 20px;
        margin-bottom: 40px;
    }

    main section#atuacao h1 {
        font-size: 2rem;
    }

    main section#atuacao h2,
    main section#atuacao p {
        max-width: 80%;
    }
}

main section#portfolio {
    height: auto;
    width: 80vw;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    text-align: center;
    margin-top: 370px;
    scroll-margin-top: 90px;
}

main section#portfolio h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cor4);
}

#slideshow {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
  
#slideshow img {
    display: none;
}

div#slideshow img:first-child {
    display: block;
}
 
#slideshow .prev,
#slideshow .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: var(--cor4);
  padding: 10px;
  cursor: pointer;
}

#slideshow .prev {
  left: 10px;
}

#slideshow .next {
  right: 10px;
}
.slide-details {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.slide:hover .slide-details {
    display: block;
}
  
.slide-details h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
  
.slide-details p {
    font-size: 1em;
    margin-bottom: 10px;
}
  
.slide-details a {
    display: inline-block;
    background-color: var(--cor4);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;  
}

.slide-details a:hover {
    color: var(--cor2);
  }

.slide {
    position: relative;
}
.slide img {
    display: block;
    max-width: 100%;
    height: auto;
}

.slide .slide-details {
    position: absolute;
}

#technology-page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

section#contato {
    height: 80vh;
    width: 80vw;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 600px;
    margin-bottom: 600px;
    scroll-margin-top: 150px;
}

#technology-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor4);
    padding: 20px;
    max-width: 600px;
    width: 80%;
}

#technology-page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#technology-page-content {
    font-size: 16px;
    line-height: 1.5;
}

#technology-page ul{
    list-style: none;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

section#contato h1{
    width: 80vw;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid var(--cor5);
    border-radius: 10px;
}
section#contato h2{
    font-size: 1.5rem;
    position: relative;
    top: 20px;
}

section#redes-sociais{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

section#redes-sociais a {
    display: inline-block;
    margin: 0 10px;
}

section#redes-sociais img{
    width: 5.84vw;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform 0.3s, border 1s;
}

section form {
    display: grid;
    gap: 10px;
}

section form a{
    color: white;
    text-decoration: none;
}
 
section#contato label {
    font-size: 1rem;
    display: block;
}

section#contato input[type="text"],
section#contato input[type="email"],
section#contato textarea {
    padding: 10px;
    font-size: 1rem;
}

section#contato input[type="submit"],
section#contato button[type="button"] {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--cor4);
    color: white;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    section#portfolio{
        margin-top: 20px;
    }

    section#contato {
        padding: 20px;
    }

    section#contato h1 {
        font-size: 2rem;
    }

    section#contato h2 {
        font-size: 1.2rem;
    }

    section#redes-sociais img {
        width: 30px;
        height: 30px;
    }

    section#contato section h2 {
        font-size: 1.2rem;
    }

    section#contato form {
        grid-template-columns: 1fr;
    }
}

footer{
    background-color: var(--cor1);
    padding: 20px;
    text-align: center;
    color: white;
}


footer .redes-sociais {
    margin-bottom: 10px;
}

footer .redes-sociais img {
    min-height: 100px;
    width: 5vw;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    position: relative;
}

footer img:hover {
    cursor: pointer;
    transform: scale(115%);
}

@media only screen and (max-width: 768px) {
    footer .redes-sociais img {
        width: 20px;
        height: 20px;
    }
}
