@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root{
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Outfit', sans-serif;
    
    --cor1:#0c070e;
    --cor2:#db5b60;
    --cor3:#23d9f8;
    --cor4:#2f2d78;
    --cor5:#2e43c5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: var(--fonte2);
    background-color: var(--cor1);
    min-height: 100vh;
    background-size: cover;
}

header{
    min-height: 150px;
    font-family: var(--fonte2);
    text-align: center;
}

header nav#menu{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor1);
    z-index: 9999;
}

header nav a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.ul-header{
    display: flex;
    list-style: none;
    width: 100vw;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
}

.ul-header li:hover{
    cursor: pointer;
    transform: scale(115%);
}

main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main img.imagem-fixada{
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 3vw;
}

main section#topo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin-top: 100px;
    scroll-margin-top: 300px;
}

main section#topo figure img{
    max-width: 350px;
    border-radius: 30%;
    height:  50.81vh;
    width: 18.09vw;
}

main section#topo h1{
    font-size: 5em;
    font-weight: bold;
}

main section#topo h2.desenvolvedor{
    font-size: 3.5em;
}

main section#topo h2.front-end{
    font-size: 3.5em;
    color: var(--cor4);
}

main section#sobre-mim{
    position: relative;
    top: 25px;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin-top: 220px;
    scroll-margin-top: 300px;
}

main section#sobre-mim figure img{
    max-width: 350px;
    border-radius: 30%;
    text-align: center;
}

main section#sobre-mim h1{
    font-size: 3.5em;
    font-weight: bold;
    color: var(--cor4);
}

main section#sobre-mim p{
    font-size: 1em;
}

main section#formacao {
    height: 20vh;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 320px;
    scroll-margin-top: 300px;
}

main section#formacao h1{
    width: 60vw;
    font-size: 3.5em;
    font-weight: bold;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid var(--cor5);
    border-radius: 10px;
}

main section#atuacao {
    height: 32vh;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 490px;
    scroll-margin-top: 300px;
}

main section#atuacao h1{
    width: 60vw;
    font-size: 3.5em;
    font-weight: bold;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid var(--cor5);
    border-radius: 10px;
}

main section#atuacao h2{
    width: 60vw;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

main section#atuacao p{
    font-size: 1em;
}

main section#portfolio {
    height: 80vh;
    width: 80vw;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    text-align: center;
    margin-top: 370px;
    scroll-margin-top: 140px;
}

main section#portfolio h1{
    font-size: 3.5em;
    font-weight: bold;
    color: var(--cor4);
}

#slideshow {
    position: relative;
}
  
#slideshow img {
    display: none;
}

div#slideshow img:first-child {
    display: block;
}
 
#slideshow .prev,
#slideshow .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
}

#slideshow .prev {
  left: 10px;
}

#slideshow .next {
  right: 10px;
}
 
main section#contato {
    position: relative;
    top: 100px;
    text-align: center;
    margin-top: 220px;
    scroll-margin-top: 100px;
}

main section#contato h1{
    font-size: 3.5em;
    font-weight: bold;
    color: var(--cor4);
}